/* Default styling for the card */
a:card-hover {
    background-color: #ff0000; /* default fill color */
    border: 1px solid #e0e0e0;
    border-radius: 5px;
}

a:hover .card-hover {
    transition: background-color 0.3s ease, box-shadow 0.3s ease;
    background-color: #006fdf; 
    box-shadow: 0px 8px 16px rgba(0, 68, 255, 0.3) ;
    color: white;
}



.square-cell {
    width: 60px;        /* Ajuste selon tes besoins */
    height: 60px;       /* Pour que ce soit un carré */
    text-align: center;
    vertical-align: middle;
    padding: 0;         /* Pour éviter que le padding fausse la forme carrée */
}


